
.playing {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #034677;
    color: white;
    height: 170px;
    font-size: 12px;
}

.playing__song {
    padding-top: 5px;
    height: 55px;
    overflow: hidden;
    font-size: 20px;
    background-color: rgba(0,0,0,0.1);
}

.playing__artist {
    text-align: center;
}

.playing__name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.playing__lyrics {
    text-align: center;
    overflow: hidden;
    height: 110px;
}

.playing__lyrics__scroll {
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}

.playing__lyrics__line {
    padding: 5px 0;
    font-size: 16px;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.playing__lyrics__line--current {
    font-size: 25px;
}