
.list {
    width: 100%;
}

.list__item {
    display: flex;
    padding: 12px 45px 12px 10px;
/*     border-bottom: 1px solid #ffe5dc; */
    background-color: #0066b2;
    color: white;
    cursor: pointer;
}

.list__item--voted {
    background-color: #014271;
}

/* .list__item:nth-child(2n) {
    background-color: white;
    color: black;
} */

.list__item:last-child {
    border-bottom: none;
}

.list__item__artist {

}

.list__item__name {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.list__bottom {
    height: 170px;
}

.list__item__f {
  text-align: center;
  flex: 0 0 10px;
}

.next {
  transform: rotate(-90deg) translate(-20px, 5px);
  width: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}

.list__item__s {
  text-align: center;
  flex: 0 0 40px;
}
.list__item__position {
  font-size: 20px;
}
.list__item__votes {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}
.list__item__t {
  flex: 1;
}